{{!-- Checkbox group for genres selection --}}
<div class="form-group">
    <label>{{label}}</label>
    <div class="checkbox-group">
        {{#each options}}
            <label class="checkbox-label">
                <input type="checkbox" name="{{../name}}" value="{{id}}" {{#if (isGenreSelected ../selectedItems id)}}checked{{/if}}>
                {{nom}}
            </label>
        {{/each}}
    </div>
</div>