{{!-- Content header with title and optional action button --}}
<div class="content-header">
    <h1>{{title}}</h1>
    {{#if actionUrl}}
        <a href="{{actionUrl}}" class="btn {{actionClass}}">{{actionText}}</a>
    {{/if}}
</div>