{{!-- Form actions section --}}
<div class="form-actions">
    <button type="submit" class="btn btn-primary">{{submitText}}</button>
    <a href="{{cancelUrl}}" class="btn btn-secondary">{{cancelText}}</a>
</div>