<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/img/vapeur.png" type="image/x-icon">
        <title>Vapeur</title>
        
        <link rel="stylesheet" href="/general.css" />
    </head>

    <body>
        {{> header }} <!-- PARTIAL header -->
        {{{ body }}} 
        {{> footer }} <!-- PARTIAL footer -->
        <script src="./js/featured.js"></script>
    </body>

</html>